<div id="filecheck-job-panel"
     data-order-id="{{ order_id }}"
     data-ajax="{{ ajax_url }}"
     style="padding:8px 0;">
    <p style="color:#888;font-size:13px;">Loading Filecheck job details&hellip;</p>
</div>
